.timeline-row {
    height: 40px;
}
.timeline-row td:nth-child(n+3) {
    position: relative;
    padding: 0;
}
.timeline-month   :where(th:nth-child(n+3), td:nth-child(n+3)),
.monthly-sum      :where(th:nth-child(n+3), td:nth-child(n+3)) {
    min-width:      80px;
    text-align:     center;
    vertical-align: middle;
    padding:        0.25rem !important;
}
.timeline-month   :where(th:nth-child(n+3), td:nth-child(n+3)) {
    font-size: 0.9rem;
}
.monthly-sum      :where(th:nth-child(n+3), td:nth-child(n+3)) {
    font-size: 0.8rem;
}
.timeline-month th:nth-child(4),
.monthly-sum th:nth-child(4),
.timeline-row td:nth-child(4) {
    background-color: var(--bs-primary-bg-subtle);
}
.timeline-year :where(th:nth-child(n+2), td:nth-child(n+2)) {
    min-width: 80px;
    text-align: center;
    font-size: 0.9rem;
}

.income-bar {
    position: absolute;
    height: 60%;
    top: 20%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    color: var(--bs-body-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 0.1rem;
    background-color: var(--bs-success-bg-subtle);
}
.income-bar.yellow { background-color: var(--bs-warning-bg-subtle); }
.income-bar.red    { background-color: var(--bs-danger-bg-subtle); }
.income-bar.gray   { background-color: var(--bs-secondary-bg-subtle); }

.timeline-table {
    table-layout: fixed;
    min-width: 100%;
}
.timeline-table :where(th, td):nth-child(-n+2) {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.timeline-table :where(th, td):first-child {
    width: 30%;
    white-space: normal;
}
.timeline-table :where(th, td):nth-child(2) {
    width: 15%;
    white-space: nowrap;
}

.source-desc {
    display: block;
    font-size: 0.8rem;
    color: var(--bs-secondary-color);
}

@media (max-width: 768px) {
}
