:root {
    --timeline-col-source: 35%;
    --timeline-col-amount: 10%;
    --timeline-month-min: 80px;
    --main-max-width: 1200px;
}

main {
    max-width: var(--main-max-width);
    margin-inline: auto;
}

.timeline-table {
    table-layout: fixed;
    min-width: 100%;
}
.timeline-table :where(th, td):nth-child(-n+2) {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.timeline-table :where(th, td):first-child {
    width: var(--timeline-col-source);
    white-space: normal;
}
.timeline-table :where(th, td):nth-child(2) {
    width: var(--timeline-col-amount);
    white-space: nowrap;
}

.timeline-row {
    height: 40px;
}
.timeline-row td:nth-child(2) {
    text-align: right;
}
.timeline-row td:nth-child(n+3) {
    position: relative;
    padding: 0;
}
.timeline-month th { background-color: var(--bs-secondary-bg-subtle); }
.timeline-month :where(th:nth-child(n+3), td:nth-child(n+3)),
.monthly-sum    :where(th:nth-child(n+2), td:nth-child(n+2)) {
    min-width: var(--timeline-month-min);
    text-align: center;
    vertical-align: middle;
    padding: 0.25rem !important;
}
.timeline-month :where(th:nth-child(n+3), td:nth-child(n+3)) {
    font-size: 0.9rem;
}
.monthly-sum    :where(th:nth-child(n+2), td:nth-child(n+2)) {
    font-weight: bold;
    font-size: 0.8rem;
}
.timeline-year  :where(th, td) {
    min-width: var(--timeline-month-min);
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}

.timeline-month th:nth-child(4),
.monthly-sum th:nth-child(3),
.timeline-row td:nth-child(4) {
    background-color: var(--bs-primary-bg-subtle);
}

.income-bar {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.7rem;
    color: var(--bs-body-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0 0.1rem;
    border-radius: 3px;
    background-color: var(--bs-success-bg-subtle);

    overflow: hidden;
    white-space: nowrap;
}
.income-bar.yellow { background-color: var(--bs-warning-bg-subtle); }
.income-bar.red    { background-color: var(--bs-danger-bg-subtle); }
.income-bar.gray   { background-color: var(--bs-secondary-bg); }

.source-desc {
    display: block;
    font-size: 0.8rem;
    color: var(--bs-secondary-color);
}

@media (max-width: 768px) {
    /* на будущее, чтобы не забыть */
}
