#RewriteEngine On
#RewriteCond %{HTTP_HOST} cdg-axel.github.io/sa-simulator.html
#RewriteRule (.*) https://cdg-axel.github.io/$1 [R=301,L]
Redirect 301 /sa-simulator.html https://cdg-axel.github.io/sa-simulator.html
