<div class="container-fluid border rounded">
  %%cHomeHeader%%
  <ul>
    <li><a href="https://t.me/IHSAS_bot" target="_blank">
      <svg class="bi me-1" width="1em" height="1em"><use href="#tlg-icon"></use></svg>%%cBotName%%
    </a></li>
    <li><a href="https://vk.com/idleheroes" target="_blank">%%cCommunity%%</a></li>
    <li><a href="https://youtube.com/@AkuDemon" target="_blank">%%cYouTube%%</a></li>
  </ul>
  %%cHomeFooter%%
  <br>
  <span id="switchLang"></span>
  <script>
    let autoLang = (navigator.language || navigator.userLanguage)?.slice(0, 2);
    const autoMsg = {
      en: 'Is your native language English, perhaps? <a href="/home.html">Switch!</a>',
      ru: 'Возможно ваш родной язык русский? <a href="/ru/home.html">Переключить!</a>', 
      de: 'Vielleicht ist Deutsch deine Muttersprache? <a href="/de/home.html">Wechseln!</a>'
    };
    let documentLang = document.documentElement.lang;
    if (autoLang !== documentLang && autoMsg[documentLang]) document.getElementById('switchLang').innerHTML = autoMsg[documentLang];
  </script>
</div>
