<div class="accordion" id="accordionAwakening">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#accAwakCollapse1" 
                aria-expanded="true" aria-controls="accAwakCollapse1">%%cSaHeader%%
            </button>
        </h2>
      <div id="accAwakCollapse1" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="row">
            <div class="col"><label for="edTargetPoints" class="form-label">%%lTargetPoints%%</label></div>
            <div class="col"><label for="edFirstTier" class="form-label">%%lFirstTier%%</label></div>
            <div class="col"><label for="edSimulationCount" class="form-label">%%lSimulationCount%%</label></div>
          </div>
          <div class="row">
            <div class="col">
              <input type="number" class="form-control" id="edTargetPoints" value=200 placeholder="200" onchange="dataChanged(this);">
            </div>
            <div class="col">
              <select class="form-select" aria-label="Default select example" id="edFirstTier" onchange="dataChanged(this);">
                <option value="0">E-</option>
                <option value="1">E</option>
                <option value="2">E+</option>
                <option value="3">D-</option>
                <option value="4">D</option>
                <option value="5">D+</option>
                <option value="6">C-</option>
                <option value="7">C</option>
                <option value="8">C+</option>
                <option selected="selected" value="9">B-</option>
                <option value="10">B</option>
                <option value="11">B+</option>
                <option value="12">A-</option>
              </select>
            </div>
            <div class="col">
              <input type="number" class="form-control" id="edSimulationCount" value=100000 placeholder="100000" onchange="dataChanged(this);">
            </div>
          </div>
          <div class="row mt-3">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="button" id="startBtn" class="btn btn-primary" onclick="runSimulation();">%%startBtn%%</button>
            </div>
          </div>
          <div class="row mt-3 text-center">
            <h4>
              <label class="form-label">%%cSimRes%%</label>
              <label id="lbSimRes" class="form-label">-/-/-</label>
              <br>
              <label class="form-label">%%cResCopies%%</label>
              <label id="lbResCopies" class="form-label">-</label>
            </h4>
            <h6>
              <label class="form-label">%%cResHelp%%</label>
              <label id="lbResHelp" class="form-label">0.0 sec</label>
              <br>
              <label class="form-label">%%cSimLink%%</label>
              <a href="#" id="lCopyLink" target="_blank">%%lCopyLink%%</a>
            </h6>
          </div>
          <div class="row my-3 justify-content-center">
            <div class="col-8">
              <table id="resTable" class="table table-sm table-striped">
                <thead>
                  <tr>
                    <th scope="col">%%cTCol1%%</th>
                    <th scope="col">%%cTCol2%%</th>
                    <th scope="col">%%cTCol3%%</th>
                    <th scope="col">%%cTCol4%%</th>
                  </tr>
                </thead>
                <tbody id="resTableBody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button d-block text-center collapsed" id="cSaHowToUse" type="button" data-bs-toggle="collapse" data-bs-target="#accAwakCollapse2"
                aria-expanded="false" aria-controls="accAwakCollapse2">%%cSaHowToUse%%
            </button>
        </h2>
        <div id="accAwakCollapse2" class="accordion-collapse collapse">
            <div class="accordion-body">%%cSaHowFull%%</div>
        </div>
    </div>
</div>
